registry=https://pkgs.dev.azure.com/Ankitgarg12/Ankitgarg/_packaging/test-lerna/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/Ankitgarg12/Ankitgarg/_packaging/test-lerna/npm/registry/:username=Ankitgarg12
//pkgs.dev.azure.com/Ankitgarg12/Ankitgarg/_packaging/test-lerna/npm/registry/:_password=anlpaGxiejN0dmZjMm96cDJtbnFweDJoenFweGk0dmk2dmhzN2Vta2FhM3NqZW5iZjJ3YQ==
//pkgs.dev.azure.com/Ankitgarg12/Ankitgarg/_packaging/test-lerna/npm/registry/:email=abc@gmail.com
//pkgs.dev.azure.com/Ankitgarg12/Ankitgarg/_packaging/test-lerna/npm/:username=Ankitgarg12
//pkgs.dev.azure.com/Ankitgarg12/Ankitgarg/_packaging/test-lerna/npm/:_password=anlpaGxiejN0dmZjMm96cDJtbnFweDJoenFweGk0dmk2dmhzN2Vta2FhM3NqZW5iZjJ3YQ==
//pkgs.dev.azure.com/Ankitgarg12/Ankitgarg/_packaging/test-lerna/npm/:email=abc@gmail.com
; end auth token
